.section {
    padding: 20px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: 100px;
  }
  
  .project {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    font-size: 1.5rem;
    background: linear-gradient(45deg, #2b2b31, #4a90e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #projects h2{
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(45deg, #2b2b31, #4a90e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  
  .project p {
    font-size: 1rem;
    color: #444;
    line-height: 1.8;
  }
  
  @media (max-width: 768px) {
    .section {
      padding: 10px;
    }
  
    .project {
      padding: 15px;
    }
  
    .project h3 {
      font-size: 1.2rem;
    }
  
    .project p {
      font-size: 0.9rem;
    }
  }
  